[user]
	name = Angel Aguilera
	email = angel.aguilera@gmail.com

[color]
	ui = auto

[push]
	default = simple

[credential]
	helper = cache --timeout=3600

[diff]
	tool = meld

[credential "https://github.com"]
	username = aaguilera

[alias]
	lod = log --oneline --decorate --color
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
        br = branches -avv

[status]
	submodulesummary = 1

[core]
	pager = less

[pull]
	ff = only

