[user]
	name = Angel Aguilera
	email = angel.aguilera@gmail.com

[color]
	ui = auto

[push]
	default = simple

[credential]
	helper = cache --timeout=3600

[diff]
	tool = meld

[credential "https://github.com"]
	username = aaguilera

[alias]
	lod = log --oneline --decorate --color

