[user]
	name = Angel Aguilera
	email = angel.aguilera@gmail.com

[color]
	branch = auto
	diff = auto
	status = auto

[push]
	default = simple

[credential]
	helper = cache --timeout=3600

[diff]
	tool = meld

[credential "https://github.com"]
	username = aaguilera

[alias]
	lod = log --oneline --decorate --color

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
