[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
#Exec=env GDK_BACKEND=x11 /home/angel/soft/dbeaver/dbeaver
Exec=/home/angel/soft/dbeaver/dbeaver
Name=DBeaver
Icon=/home/angel/soft/dbeaver/icon.xpm
GenericName=DBeaver
Comment=DBeaver
Name[es_ES]=DBeaver
