[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/angel/soft/sts4/SpringToolSuite4
Name=Spring Tools 4
Icon=/home/angel/soft/sts4/icon.xpm
GenericName=STS4
Comment=STS4
